<div class="header">
  <div class="title">CCCLOTHES</div>
  <div class="logo">MEN'S TOPS</div>
</div>

<div class="container clearfix">
  <div class="area1 clearfix">
  <div class="layer0"></div>
  <div class="contentBox clearfix">
    <div class="pic">
      <div class="linen"><h1>LINEN BLAZER</h1></div>
      <div class="mens mens1">Men's outfit</div>
      <div class="numpic"><h1>01</h1></div>
    </div>
  </div>
</div>


<!-- area02 -->
<div class="area2 clearfix">
  <div class="layer02"><h1>02</h1></div>
  <div class="boxGreen boxGreen1"></div>
   <div class="contentBox1 clearfix">
    <div class="pic2">
      <div class="mens mens2">Men's basics</div>
         <div class="slogan slogan2"><h1>FREELIFT</h1></div>
    </div>
  </div>
</div>
</div>


<!-- 第二列開始 -->
<div class="container maintop">
  <div class="area3">
  <div class="layer03"><h1>03</h1></div>
<div class="boxGreen boxGreen3"></div>
   <div class="contentBox3">
    <div class="pic3">
      <div class="mens mens3">Men's pattern shirts</div>
         <div class="slogan slogan3"><h1>SUPER SKINNY</h1></div>
    </div>
  </div>
  </div>
  <div class="area4">
    <div class="layer04"></div>
<!-- <div class="boxGreen boxGreen4"></div> -->
   <div class="contentBox4">
    <div class="pic4">
      <div class="mens mens4">Men's cadual</div>
         <div class="slogan slogan4"><h1>DENIM</h1></div>
      <div class="numpic2"><h1>04</h1></div>
    </div>
  </div>
  </div>
</div>

<!--  第三列開始 -->
<div class="container maintop2">
   <div class="area5">
  <div class="layer05"><h1>05</h1></div>
   <div class="contentBox5">
    <div class="pic5">
    </div>
      <div class="numpic3"></div>
     <div class="mens mens5">Men's jacket</div>
         <div class="slogan slogan5"><h1>SWEATSHIRTS</h1></div>
  </div>
  </div>

  <div class="area6">
  <div class="layer06"><h1>06</h1></div>
    <div class="boxGreen boxGreen6"></div>
   <div class="contentBox6">
    <div class="pic6">
    </div>

     <div class="mens mens6">Men's classic</div>
         <div class="slogan slogan6"><h1>VINTAGE DENIM</h1></div>
  </div>
  </div>


</div>


<div class="container maintop7">
  <div class="area7">
    <div class="boxGreen boxGreen7"></div>
  <div class="layer07"><h1>07</h1></div>
   <div class="contentBox7">
    <div class="pic7">
    </div>
     <div class="mens mens7">Men's shirts</div>
         <div class="slogan slogan7"><h1>EDITION</h1></div>
  </div>
  </div>
</div>
